// Main theme color
$brand-primary = #48779e; 
$brand-secondary = #7b91a2; 
$brand-primary-dark = #2a2f34; 


$sidebar-highlight = $brand-primary;

$body-bg-color = $brand-secondary;
$body-bg-color-dark = #181e24;
$content-bg-color-dark = #2a2f34;
$theme-color-dark = $brand-primary-dark;

$btn-default-color = $content-bg-color-dark;